@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/* html {
  scrollbar-width: 0;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
} */


::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
  display: none;
}

/* :hover::-webkit-scrollbar-thumb {
  background-color: #8D8D8D;
  border-radius: 8px;
} */

.shadow-card {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-active {
  position: relative;
}

.filter-active::after {
  content: "";
  position: absolute;
  bottom: -1.8px;
  /* Adjust this value to change the offset */
  left: 0;
  width: 100%;
  border-bottom: 4px solid var(--border-color, #5E5ADB);
  /* Use CSS variable */
  /* Adjust this value to change the border color */
}