@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/* html {
  scrollbar-width: 0;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
} */


::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
  display: none;
}

/* :hover::-webkit-scrollbar-thumb {
  background-color: #8D8D8D;
  border-radius: 8px;
} */